@media only screen and (min-width: 681px) {
  nav > ul > li:hover .methods,
  .active .methods {
    display: block;
  }

  .methods {
    display: none;
  }

  nav > ul > li {
    padding: 20px 0;
  }

  nav > ul > li > a {
    padding: 0;
  }

  nav > ul > li.active a {
    margin-bottom: 10px;
  }

  nav > ul > li:hover > a,
  nav > ul > li.active > a {
    margin-bottom: 15px;
  }
}
