# Editors
/.idea/
/.vscode/

.eslintcache
.nyc_output/
coverage/
dist/
node_modules/

/.log/

/cypress/
/docs/
/site/
/test/unit/dist
*.DS_Store
/.sass-cache
/npm-debug.log*
/stats.html
/yarn-error.log

# app specific 
.DS_Store
.env
.env.local
fly-*.toml
/app/.redwood/*
!.redwood/README.md
dev.db*
dist
dist-babel
node_modules
yarn-error.log
web/public/mockServiceWorker.js
web/types/graphql.d.ts
api/types/graphql.d.ts
api/src/lib/generateGraphiQLHeader.*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
sendgrid.env

postgres
