.dependabot/
.github/
.idea/
.vscode/

coverage/
cypress/
docs-src/
docs/
esdoc/
jsdoc-template/
landing/
test/
tests/

.codeclimate.yml
.eslintrc.js
.gitignore
.stylelintrc.js
.travis.yml
cypress.json
index.html
jest.config.js
stats.html
yarn.lock
yarn-error.log

CONTRIBUTING.md
HISTORY.md
