.element {
    width: 200px;
    height: 200px;
    background-color: #fe8;
    position: absolute;
    z-index: 6;
}

.target {
    width: 300px;
    height: 50px;
    width: 30%;
    margin: 0 35%;
    background-color: #4e9;
}

.container {
    height: 300px;
    overflow: scroll;
    width: 30%;
    border: 20px solid #CCC;
}

body {
    height: 1000px;
}

body > .container {
    position: fixed;
    left: 600px;
    top: 0;
}

.pad {
    height: 200px;
    width: 100px;
}

.tether-out-of-bounds.element {
    -display: none;
}
