html, body {
  height: 100%;
  overflow: hidden;
  font-family: "proxima-nova", sans-serif; }

.drop.drop-theme-arrows .drop-content {
  background: black;
  -webkit-filter: none; }
  .drop.drop-theme-arrows .drop-content ul {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0; }

.drop.drop-theme-arrows.tether-element-attached-top.tether-element-attached-left.tether-target-attached-right .drop-content:before {
  border-right-color: black; }

.browser-demo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .browser-demo *, .browser-demo *:after, .browser-demo *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .browser-demo .top {
    position: absolute;
    height: 60px;
    padding: 20px;
    line-height: 40px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .browser-demo .bottom {
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 100%; }
    .browser-demo .bottom .left {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      position: absolute;
      width: 30%;
      height: 100%;
      overflow: auto; }
      .browser-demo .bottom .left .item {
        height: 64px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer; }
        .browser-demo .bottom .left .item:hover, .browser-demo .bottom .left .item.drop-open {
          background: rgba(0, 0, 0, 0.1);
          border-bottom: 1px solid rgba(0, 0, 0, 0); }
        .browser-demo .bottom .left .item:last-child {
          border-bottom: 0; }
    .browser-demo .bottom .right {
      position: absolute;
      width: 70%;
      right: 0;
      height: 100%;
      padding: 20px; }
  .browser-demo .title {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background: rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 15px;
    margin-bottom: 20px; }
  .browser-demo .word {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background: rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 8px;
    margin-right: 5px;
    margin-bottom: 5px; }
    .browser-demo .word:nth-last-child(4n+1) {
      width: 73px; }
    .browser-demo .word:nth-last-child(10n+1) {
      width: 14px; }
    .browser-demo .word:nth-last-child(9n+1) {
      width: 80px; }
