@mixin shepherd-button {
  color: map_get($shepherd-theme-text-colors, primary);

  &.shepherd-button-secondary {
    color: map_get($shepherd-theme-text-colors, secondary);

    &:hover {
      color: darken(map_get($shepherd-theme-text-colors, secondary), 10);
    }
  }
}
