@mixin shepherd-button {
  @include inline-block;

  background: $shepherd-theme-primary;
  border: 0;
  border-radius: $shepherd-button-border-radius;
  color: map_get($shepherd-theme-text-colors, primary);
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 1em;
  padding: 0.75em 2em;
  text-transform: uppercase;
  transition: all 0.5s ease;

  &:hover {
    background: darken($shepherd-theme-primary, 10);
  }

  &.shepherd-button-secondary {
    background: $shepherd-theme-secondary;
    color: map_get($shepherd-theme-text-colors, secondary);

    &:hover {
      background: darken($shepherd-theme-secondary, 10);
      color: darken(map_get($shepherd-theme-text-colors, secondary), 10);
    }
  }
}
