@font-face {
  font-family: 'Pier Sans';
  src: url('/fonts/PierSans-Regular.woff2') format('woff2'),
  url('/fonts/PierSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pier Sans';
  src: url('/fonts/PierSans-Bold.woff2') format('woff2'),
  url('/fonts/PierSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pier Sans';
  src: url('/fonts/PierSans-Light.woff2') format('woff2'),
  url('/fonts/PierSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
