body {
  height: 100%;
}

body {
  background-color: rgba(236, 243, 246, 50);
  color: #5F6976;
  font-family: "Pier Sans", "proxima-nova", "Helvetica Neue", sans-serif;
  margin: 0;
}

.button {
  border: 2px solid #5F6976;
  color: #5F6976;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1.3em;
  padding: 1em 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
}

.button:hover {
  background-color: #5F6976;
  color: #ffffff;
}

@media (max-width: 568px) {
  .button {
    display: block;
    margin: 1em auto 0;
  }
}

.hero-outer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  height: 100%;
  padding: 20px 0;
  width: 100%;
}

.hero-inner {
  max-width: 700px;
  width: 90%;
}

@media (max-width: 600px) {
  .hero-inner {
    width: 340px;
  }
}

@media (max-width: 360px) {
  .hero-inner {
    width: 200px;
  }
}

.hero-outer .hero-inner {
  margin: 0 auto 1em;
  text-align: center;
}

.hero-outer .hero-inner h1,
.hero-outer .hero-inner h2,
.hero-outer .hero-inner h3 {
  color: #00213B;
}

.hero-outer .hero-inner h1,
.hero-outer .hero-inner h2,
.hero-outer .hero-inner h3,
.hero-outer .hero-inner p {
  font-weight: normal;
  line-height: 1;
  margin: 0 0 20px;
}

.hero-outer .hero-inner h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 10px;
}

.hero-outer .hero-inner h3 {
  font-size: 1.3em;
  padding-top: 13px;
}

.hero-outer .hero-followup {
  padding-top: 20px;
}

pre {
  border: 1px solid rgba(0, 0, 0, 0.15);
  line-height: 1.4em;
}

.demo-shepherd-element .demo-shepherd-button:hover,
.shepherd-element .shepherd-button:hover {
  background: #ececec;
  color: #00213B;
}
