.shepherd-active {
  &.shepherd-modal-is-visible {
    :not(.shepherd-target) {
      pointer-events: none;
    }


    .shepherd-button, .shepherd-cancel-icon, .shepherd-element, .shepherd-target {
      pointer-events: auto;

      * {
        pointer-events: auto;
      }
    }
  }
}
