.shepherd-active {
  &.shepherd-modal-is-visible {
    :not(.shepherd-target) {
      pointer-events: none;
    }


    .shepherd-button, .shepherd-cancel-icon, .shepherd-element, .shepherd-target {
      pointer-events: auto;

      * {
        pointer-events: auto;
      }
    }
  }
}

.shepherd-element {
  background: #ffffff;
  max-width: 400px;
  z-index: 9999;

  .tippy-tooltip {
    background-color: #ffffff;
    border-radius: 5px;

    .tippy-arrow {
      transform: scale(2.1);
      z-index: 1000;
    }

    .tippy-content {
      border-radius: 5px;
      padding: 0;
      text-align: center;
    }
  }

  &[x-placement^="top"] {
    margin-bottom: 16px;

    .tippy-arrow {
      border-top-color: #ffffff;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 16px;

    .tippy-arrow {
      border-bottom-color: #ffffff
    }

    &.shepherd-has-title {
      .tippy-arrow {
        border-bottom-color: #e6e6e6;
      }
    }
  }

  &[x-placement^="left"] {
    margin-right: 16px;

    .tippy-arrow {
      border-left-color: #ffffff;
    }
  }

  &[x-placement^="right"] {
    margin-left: 16px;

    .tippy-arrow {
      border-right-color: #ffffff;
    }
  }
}
