@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --shadow-*: initial;
  --shadow-default:
    0 10px 30px 0 rgba(0, 0, 0, 1), 0 10px 20px 0 rgba(0, 0, 0, 1);

  --color-*: initial;
  --color-transparent: transparent;
  --color-black: #000000;
  --color-navy: #16202d;
  --color-navy-light: #959fac;
  --color-grey: #f3f5f5;
  --color-grey-light: #eff2f3;
  --color-white: #ffffff;

  --color-pink-200: #ffa6f6;
  --color-pink-300: #fa8cef;
  --color-pink-400: #fa7fee;

  --font-*: initial;
  --font-body: Founders Grotesk, sans-serif;
  --font-heading: GT Pressura, sans-serif;

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 4rem;

  --container-*: initial;
  --container-xxs: 13rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --container-8xl: 90rem;
  --container-9xl: 100rem;
  --container-full: 100%;

  --spacing-*: initial;
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --spacing-40: 10rem;
  --spacing-48: 12rem;
  --spacing-56: 14rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-140: 36rem;
  --spacing-px: 1px;

  --animate-ellipsis1: ellipsis 1s infinite;
  --animate-ellipsis2: ellipsis 1s infinite 0.333s;
  --animate-ellipsis3: ellipsis 1s infinite 0.666s;

  @keyframes ellipsis {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html,
body {
  font-family: 'Pier Sans', 'proxima-nova', 'Helvetica Neue', sans-serif;
}

body {
  height: 100%;
  margin: 0;
}

a,
button {
  transition: 0.25s ease-in-out;
}

.a11y-icon {
  left: 50%;
  transform: translateX(-50%) translateY(10%);
}

.customizable-icon {
  left: 50%;
  transform: translateX(-50%) translateY(25%);
}

.framework-icon {
  left: 50%;
  transform: translateX(-50%) translateY(35%);
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.25s ease-in-out;
}

.button:hover {
  background: #f3f5f5;
  transform: translateX(10px) translateY(-10px);
}

.shepherd-logo {
  height: auto;
  width: 217px;
}

.shepherd-logo .lines,
.shepherd-logo .open-eye,
.shepherd-logo .wink {
  transition:
    visibility 0s,
    opacity 0.25s ease-in-out;
}

.shepherd-logo .open-eye {
  opacity: 1;
  visibility: visible;
}

.shepherd-logo .lines,
.shepherd-logo .wink {
  opacity: 0;
  visibility: hidden;
}

.shepherd-logo:hover .lines,
.shepherd-logo:hover .wink {
  opacity: 1;
  visibility: visible;
}

.shepherd-logo:hover .open-eye {
  opacity: 0;
  visibility: hidden;
}

.footer-icon path {
  fill: #16202d;
  transition: 0.25s ease-in-out;
}

.footer-icon:hover path {
  fill: #959fac;
}

.footer-logo {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hero-outer .hero-followup {
  padding-top: 20px;
}

pre {
  border: 1px solid rgba(0, 0, 0, 0.15);
  line-height: 1.4em;
}

.shepherd-button {
  background: #ffffff;
  border-top: solid 4px #16202d;
  border-radius: 0;
  color: #16202d;
  display: flex;
  flex-grow: 1;
  font-family: 'GT Pressura', sans-serif;
  font-size: 1rem;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.shepherd-button:hover {
  background: #16202d;
  color: #ffffff;
}

.shepherd-button.shepherd-button-secondary {
  background: #cad5d5;
}

.shepherd-button.shepherd-button-secondary:hover {
  color: #cad5d5;
  background: #16202d;
}

.shepherd-cancel-icon {
  font-family: 'GT Pressura', sans-serif;
}

.shepherd-element {
  border: solid 4px #16202d;
}

.shepherd-element,
.shepherd-header,
.shepherd-footer {
  border-radius: 0;
}

.shepherd-element .shepherd-arrow {
  border-width: 0;
  height: auto;
  width: auto;
}

.shepherd-arrow::before {
  display: none;
}

.shepherd-element .shepherd-arrow:after {
  content: url('../img/arrow.svg');
  display: inline-block;
}

.shepherd-element[data-popper-placement^='top'] .shepherd-arrow,
.shepherd-element.shepherd-pinned-top .shepherd-arrow {
  bottom: -35px;
}

.shepherd-element[data-popper-placement^='top'] .shepherd-arrow:after,
.shepherd-element.shepherd-pinned-top .shepherd-arrow:after {
  transform: rotate(270deg);
}

.shepherd-element[data-popper-placement^='bottom'] .shepherd-arrow {
  top: -35px;
}

.shepherd-element[data-popper-placement^='bottom'] .shepherd-arrow:after {
  transform: rotate(90deg);
}

.shepherd-element[data-popper-placement^='left'] .shepherd-arrow,
.shepherd-element.shepherd-pinned-left .shepherd-arrow {
  right: -35px;
}

.shepherd-element[data-popper-placement^='left'] .shepherd-arrow:after,
.shepherd-element.shepherd-pinned-left .shepherd-arrow:after {
  transform: rotate(180deg);
}

.shepherd-element[data-popper-placement^='right'] .shepherd-arrow,
.shepherd-element.shepherd-pinned-right .shepherd-arrow {
  left: -35px;
}

.shepherd-footer {
  padding: 0;
}

.shepherd-footer button:not(:last-of-type) {
  border-right: solid 4px #16202d;
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon {
  margin-top: -7px;
}

.shepherd-has-title .shepherd-content .shepherd-header {
  background: transparent;
  font-family: 'GT Pressura', sans-serif;
  padding-bottom: 0;
  padding-left: 2rem;
}

.shepherd-has-title .shepherd-content .shepherd-header .shepherd-title {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.shepherd-text {
  font-size: 1.2rem;
  padding: 2rem;
}

.shepherd-text a,
.shepherd-text a:visited,
.shepherd-text a:active {
  border-bottom: 1px dotted;
  border-bottom-color: rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

.shepherd-text a:hover,
.shepherd-text a:visited:hover,
.shepherd-text a:active:hover {
  border-bottom-style: solid;
}
