.drop, .drop:after, .drop:before, .drop *, .drop *:after, .drop *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.drop {
  position: absolute;
  display: none; }
  .drop.drop-open {
    display: block; }
