.drop.drop-theme-default {
  max-width: 100%;
  max-height: 100%; }
  .drop.drop-theme-default .drop-content {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    background: white;
    color: inherit;
    padding: 1em;
    font-size: 1.1em;
    line-height: 1.5em; }
