// Theming
$shepherd-theme-primary: #55a892 !default;
$shepherd-header-background: #eeeeee !default;
$shepherd-element-width: 420px !default;

// Docs
$color-white: #ffffff !default;

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: rgb(98, 196, 98);
  background-image: linear-gradient(-45deg, rgb(98, 196, 98), rgb(117, 190, 170));
  font-family: "proxima-nova", "Helvetica Neue", sans-serif;
  margin: 0;
}

.button {
  border: 2px solid $color-white;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1.3em;
  padding: 1em 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;

  &.dark {
    background: $color-white;
    color: rgb(117, 190, 170);
  }

  @media (max-width: 568px) {
    display: block;
    margin: 1em auto 0;
  }
}

.hero-scroll {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.hero-outer {
  box-sizing: border-box;
  display: table;
  height: 100%;
  padding: 20px 0;
  width: 100%;

  .hero-inner {
    margin: 0 auto 1em;
    text-align: center;
    width: 540px;

    @media (max-width: 600px) {
      width: 340px;
    }

    @media (max-width: 360px) {
      width: 200px;
    }

    h1,
    h2,
    h3,
    p {
      color: $color-white;
      font-weight: normal;
      line-height: 1;
      margin: 0 0 20px;
    }

    h3 {
      font-size: 1.3em;
      padding-top: 13px;
    }

    h1 {
      padding-top: 10px;
    }

    > * {
      opacity: 0.3;
      pointer-events: none;
      transition: opacity 0.4s;

      body:not(.shepherd-active) & {
        opacity: 1;
        pointer-events: auto;
      }
    }

    .shepherd-target.shepherd-enabled {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .hero-followup {
    padding-top: 20px;
  }
}

pre {
  border: 1px solid rgba(0, 0, 0, 0.15);
  line-height: 1.4em;
}

// Import base theme
@import '../../../src/scss/base';

.tippy-popper {
  @include popper-theme-arrows($header-bg: #ffffff);

  .shepherd-welcome {
    &:not(.shepherd-has-title) .shepherd-content {
      header,
      .shepherd-header {
        padding-bottom: 0;
      }
    }

    .shepherd-content {
      header,
      .shepherd-header {
        background: #ffffff;
      }

      .shepherd-text {
        color: darken($shepherd-theme-primary, 20);
      }
    }
  }
}
