@import compass/css3
@import compass/utilities/general/clearfix

@import pointer-events

$arrowSize: .5em
$backgroundColor: #000
$color: #fff

.drop.drop-tooltip-theme-arrows
    +pointer-events(none)
    max-width: 100%
    max-height: 100%

    .drop-content
        +border-radius(5px)
        position: relative
        font-family: "Helvetica Neue", sans-serif
        background: $backgroundColor
        color: $color
        padding: .5em 1em
        font-size: 1em
        line-height: 1.5em

        &:before
            content: ""
            display: block
            position: absolute
            width: 0
            height: 0
            border-color: transparent
            border-width: $arrowSize
            border-style: solid

    // Centers and middles

    &.tether-element-attached-bottom.tether-element-attached-center .drop-content
        margin-bottom: $arrowSize

        &:before
            top: 100%
            left: 50%
            margin-left: - $arrowSize
            border-top-color: $backgroundColor

    &.tether-element-attached-top.tether-element-attached-center .drop-content
        margin-top: $arrowSize

        &:before
            bottom: 100%
            left: 50%
            margin-left: - $arrowSize
            border-bottom-color: $backgroundColor

    &.tether-element-attached-right.tether-element-attached-middle .drop-content
        margin-right: $arrowSize

        &:before
            left: 100%
            top: 50%
            margin-top: - $arrowSize
            border-left-color: $backgroundColor

    &.tether-element-attached-left.tether-element-attached-middle .drop-content
        margin-left: $arrowSize

        &:before
            right: 100%
            top: 50%
            margin-top: - $arrowSize
            border-right-color: $backgroundColor

    // Top and bottom corners

    &.tether-element-attached-top.tether-element-attached-left.tether-target-attached-bottom .drop-content
        margin-top: $arrowSize

        &:before
            bottom: 100%
            left: $arrowSize
            border-bottom-color: $backgroundColor

    &.tether-element-attached-top.tether-element-attached-right.tether-target-attached-bottom .drop-content
        margin-top: $arrowSize

        &:before
            bottom: 100%
            right: $arrowSize
            border-bottom-color: $backgroundColor

    &.tether-element-attached-bottom.tether-element-attached-left.tether-target-attached-top .drop-content
        margin-bottom: $arrowSize

        &:before
            top: 100%
            left: $arrowSize
            border-top-color: $backgroundColor

    &.tether-element-attached-bottom.tether-element-attached-right.tether-target-attached-top .drop-content
        margin-bottom: $arrowSize

        &:before
            top: 100%
            right: $arrowSize
            border-top-color: $backgroundColor

    // Side corners

    &.tether-element-attached-top.tether-element-attached-right.tether-target-attached-left .drop-content
        margin-right: $arrowSize

        &:before
            top: $arrowSize
            left: 100%
            border-left-color: $backgroundColor

    &.tether-element-attached-top.tether-element-attached-left.tether-target-attached-right .drop-content
        margin-left: $arrowSize

        &:before
            top: $arrowSize
            right: 100%
            border-right-color: $backgroundColor

    &.tether-element-attached-bottom.tether-element-attached-right.tether-target-attached-left .drop-content
        margin-right: $arrowSize

        &:before
            bottom: $arrowSize
            left: 100%
            border-left-color: $backgroundColor

    &.tether-element-attached-bottom.tether-element-attached-left.tether-target-attached-right .drop-content
        margin-left: $arrowSize

        &:before
            bottom: $arrowSize
            right: 100%
            border-right-color: $backgroundColor
