@mixin popper-theme-arrows($theme-prefix: "popper", $theme-name: "arrows", $arrow-size: 16px, $arrow-pointer-events: null, $background-color: #fff, $color: inherit, $use-drop-shadow: false) {
  .#{$theme-prefix}-theme-#{$theme-name} {
    max-width: 100%;
    max-height: 100%;

    .#{$theme-prefix}-content {
      border-radius: 5px;
      position: relative;
      font-family: inherit;
      background: $background-color;
      color: $color;
      padding: 1em;
      font-size: 1.1em;
      line-height: 1.5em;

      @if $use-drop-shadow {
        transform: translateZ(0);
        filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
      }
    }

    .popper__arrow {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-width: $arrow-size;
      border-style: solid;
      pointer-events: $arrow-pointer-events;
    }

    // Centers and middles

    &[x-placement^="top"] {
      margin-bottom: $arrow-size;

      .popper__arrow {
        bottom: -$arrow-size;
        left: calc(50% - #{$arrow-size});
        border-top-color: $background-color;
        border-bottom: 0;
      }
    }

    &[x-placement^="bottom"] {
      margin-top: $arrow-size;

      .popper__arrow {
        top: -$arrow-size;
        left: calc(50% - #{$arrow-size});
        border-bottom-color: $background-color;
        border-top: 0;
      }
    }

    &[x-placement^="left"] {
      margin-right: $arrow-size;

      .popper__arrow {
        right: -$arrow-size;
        top: calc(50% - #{$arrow-size});
        margin-top: -$arrow-size;
        border-left-color: $background-color;
        border-right: 0;
      }
    }

    &[x-placement^="right"] {
      margin-left: $arrow-size;

      .popper__arrow {
        left: -$arrow-size;
        top: calc(50% - #{$arrow-size});
        border-right-color: $background-color;
        border-left: 0;
      }
    }
  }
}
