@import 'popper-theme-arrows';

/**
 * Shepherd-Tippy tooltips have the following base structure:
 *
 * <div class="tippy-popper shepherd" x-placement="top">
 *   <div class="tippy-tooltip">
 *     <div class="tippy-content">
 *       [[ Content Here ]]
 *     </div>
 *   </div>
 * </div>
 */

.tippy-popper.shepherd {
  @include popper-theme-arrows($arrow-size: $arrow-size, $arrow-pointer-events: $arrow-pointer-events);

  z-index: $shepherd-element-z-index;

  .tippy-tooltip {
    background-color: $shepherd-text-background;

    .tippy-arrow {
      transform: scale($arrow-size);
      z-index: $shepherd-element-z-index + 1;
    }

    .tippy-content {
      max-height: $shepherd-element-max-height;
      max-width: $shepherd-element-max-width;
      padding: 0;
      text-align: center;
      width: $shepherd-element-width;
    }
  }
}
