@import 'popper-theme-arrows';

/**
 * Tippy tooltips have the following base structure:
 *
 * <div class="tippy-popper" x-placement="top">
 *   <div class="tippy-tooltip">
 *     <div class="tippy-content">
 *       [[ Content Here ]]
 *     </div>
 *   </div>
 * </div>
 */

.tippy-arrow {
  transform: scale(2);
}

.tippy-popper {
  @include popper-theme-arrows($arrow-size: $arrow-size, $arrow-pointer-events: $arrow-pointer-events);

  z-index: $shepherd-element-z-index;

  & .tippy-tooltip {
    background-color: rgba(0, 0, 0, 0);
    max-height: $shepherd-element-max-height;
    max-width: $shepherd-element-max-width;
    padding: 0;
    width: $shepherd-element-width;
  }
}

