@mixin popper-theme-arrows($arrow-size: 2.1, $arrow-pointer-events: null, $text-bg: $shepherd-text-background, $header-bg: $shepherd-header-background) {
  $margin: calc((#{$arrow-size} / 2.1) * 16px);

  &[x-placement^='top'] {
    margin-bottom: $margin;

    .tippy-arrow {
      border-top-color: $text-bg;
    }

    &.shepherd-has-title {
      .tippy-arrow {
        border-top-color: $header-bg;
      }
    }
  }

  &[x-placement^='bottom'] {
    margin-top: $margin;

    .tippy-arrow {
      border-bottom-color: $text-bg;
    }

    &.shepherd-has-title {
      .tippy-arrow {
        border-bottom-color: $header-bg;
      }
    }
  }

  &[x-placement^='left'] {
    margin-right: $margin;

    .tippy-arrow {
      border-left-color: $text-bg;
    }

    &.shepherd-has-title {
      .tippy-arrow {
        border-left-color: $header-bg;
      }
    }
  }

  &[x-placement^='right'] {
    margin-left: $margin;

    .tippy-arrow {
      border-right-color: $text-bg;
    }

    &.shepherd-has-title {
      .tippy-arrow {
        border-right-color: $header-bg;
      }
    }
  }
}
