@import "./mixins/cancel-link";
@import "./mixins/pie-clearfix";
@import "./mixins/inline-block";
@import "./helpers/popper";
@import "./helpers/popper-theme-arrows";

$arrowPointerEvents: none;
$arrowSize: 16px;
$themePrefix: "shepherd";

@include popper($themePrefix: $themePrefix);
@include popper-theme-arrows($themePrefix: $themePrefix, $themeName: $themeName, $arrowSize: $arrowSize, $arrowPointerEvents: $arrowPointerEvents, $backgroundColor: $backgroundColor, $color: $color, $useDropShadow: $useDropShadow);
