@import "./variables";

$background-color: #232323;
$color: #eeeeee;
$header-background-color: #303030;
$theme-name: "square-dark";
$use-drop-shadow: false;

@import "./base";

// Shepherd specific styles

.#{$theme-prefix}-theme-#{$theme-name} {
  border-radius: 0;
  font-size: 1em;
  max-width: $max-width;
  z-index: $z-index;

  .#{$theme-prefix}-content {
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.17);

    header {
      border-radius: 0;
    }

    footer {
      .#{$theme-prefix}-buttons {
        li {
          .shepherd-button {
            @include shepherd-button;

            border-radius: 0;
          }
        }
      }
    }
  }
}

.#{$theme-prefix}-start-tour-button.#{$theme-prefix}-theme-#{$theme-name} {
  @include inline-block;

  background: #3288e6;
  border: 0;
  border-radius: 0;
  color: $color-white;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 1em;
  margin: 0 0.5em 0 0;
  padding: 0.75em 2em;
  text-transform: uppercase;
}
