@import "./variables";

$background-color: #f6f6f6;
$color: #444444;
$header-background-color: #e6e6e6;
$theme-name: "default";
$use-drop-shadow: false;

@import "./base";

// Shepherd specific styles

.#{$theme-prefix}-theme-#{$theme-name} {
  font-size: 1em;
  max-width: $max-width;
  z-index: $z-index;

  .#{$theme-prefix}-content {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.17);

    header {
      border-radius: 5px 5px 0 0;
    }

    .#{$theme-prefix}-text {
      padding: 1em;

      p {
        line-height: 1.3em;
        margin: 0 0 0.5em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    footer {
      padding: 0 1em 1em;

      .#{$theme-prefix}-buttons {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;

        li {
          display: inline;
          margin: 0;
          padding: 0;

          .shepherd-button {
            @include inline-block;

            background: #3288e6;
            border: 0;
            border-radius: 3px;
            color: $color-white;
            cursor: pointer;
            font-family: inherit;
            font-size: 0.8em;
            letter-spacing: 0.1em;
            line-height: 1em;
            margin: 0 0.5em 0 0;
            padding: 0.75em 2em;
            text-transform: uppercase;

            &.shepherd-button-secondary {
              background: #eeeeee;
              color: $color-grey;
            }
          }

          &:last-child .shepherd-button {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.#{$theme-prefix}-start-tour-button.#{$theme-prefix}-theme-#{$theme-name} {
  @include inline-block;

  background: #3288e6;
  border: 0;
  border-radius: 3px;
  color: $color-white;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 1em;
  margin: 0 0.5em 0 0;
  padding: 0.75em 2em;
  text-transform: uppercase;
}
