$backgroundColor: #ffffff;
$color: #444444;
$headerBackgroundColor: #eeeeee;
$themeName: "arrows";
$useDropShadow: true;

@import "./base";

// Shepherd specific styles

.#{$themePrefix}-theme-arrows {
  // Make the arrow color the same as the header color when the arrow is on the top

  &[x-placement^="bottom"] {
    &.#{$themePrefix}-has-title {
      .popper__arrow {
        border-bottom-color: $headerBackgroundColor;
      }
    }
  }

  &.#{$themePrefix}-has-title .#{$themePrefix}-content header {
    background: $headerBackgroundColor;
    padding: 1em;

    a.shepherd-cancel-link {
      margin-bottom: 0;
      padding: 0;
    }
  }

  &.#{$themePrefix}-has-cancel-link .#{$themePrefix}-content header h3 {
    float: left;
  }

  .#{$themePrefix}-content {
    padding: 0;

    * {
      font-size: inherit;
    }

    header {
      @include pie-clearfix;

      border-radius: 5px 5px 0 0;
      padding: 1em 1em 0;

      h3 {
        font-weight: normal;
        margin: 0;
      }

      a.shepherd-cancel-link {
        @include cancel-link;
      }
    }

    .#{$themePrefix}-text {
      padding: 1em;

      p {
        line-height: 1.3em;
        margin: 0 0 0.5em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    footer {
      padding: 0 1em 1em;

      .#{$themePrefix}-buttons {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;

        li {
          display: inline;
          margin: 0;
          padding: 0;

          .shepherd-button {
            @include inline-block;

            background: #3288e6;
            border: 0;
            border-radius: 3px;
            color: #ffffff;
            cursor: pointer;
            font-family: inherit;
            font-size: 0.8em;
            letter-spacing: 0.1em;
            line-height: 1em;
            margin: 0 0.5em 0 0;
            padding: 0.75em 2em;
            text-transform: uppercase;

            &.shepherd-button-secondary {
              background: #eeeeee;
              color: #888888;
            }
          }

          &:last-child .shepherd-button {
            margin-right: 0;
          }
        }
      }
    }
  }
}
