@import "./variables";

$background-color: $color-white;
$color: #444444;
$header-background-color: #eeeeee;
$theme-name: "arrows-plain-buttons";
$use-drop-shadow: true;

@import "./base";

// Shepherd specific styles

.#{$theme-prefix}-theme-#{$theme-name} {
  // Make the arrow 5color the same as the header color when the arrow is on the top

  &[x-placement^="bottom"] {
    &.#{$theme-prefix}-has-title {
      .popper__arrow {
        border-bottom-color: $header-background-color;
      }
    }
  }

  &.#{$theme-prefix}-has-title .#{$theme-prefix}-content header {
    background: $header-background-color;
    padding: 1em;

    a.shepherd-cancel-link {
      margin-bottom: 0;
      padding: 0;
    }
  }

  &.#{$theme-prefix}-has-cancel-link .#{$theme-prefix}-content header h3 {
    float: left;
  }

  .#{$theme-prefix}-content {
    padding: 0;

    header {
      @include pie-clearfix;

      border-radius: 5px 5px 0 0;
      padding: 1em 1em 0;

      h3 {
        font-weight: normal;
        margin: 0;
      }

      a.shepherd-cancel-link {
        @include cancel-link;
      }
    }

    .#{$theme-prefix}-text {
      padding: 1em;

      p {
        line-height: 1.3em;
        margin: 0 0 0.5em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    footer {
      padding: 0 1em 1em;

      .#{$theme-prefix}-buttons {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;

        li {
          display: inline;
          margin: 0;
          padding: 0;

          .shepherd-button {
            @include inline-block;

            cursor: pointer;
            margin: 0 0.5em 0 0;
            text-decoration: none;
          }

          &:last-child .shepherd-button {
            margin-right: 0;
          }
        }
      }
    }
  }
}
