coverage/
cypress/
docs-src/
docs/
esdoc/
landing/
site/
test/
tests/
tmp/

.codeclimate.yml
.eslintrc.js
.gitignore
.stylelintrc.js
api-extractor-cjs.json
api-extractor-esm.json
index.html
pnpm-lock.yaml
stats.html
yarn.lock
yarn-error.log

CONTRIBUTING.md
HISTORY.md
