@import 'variables';
@import 'mixins';
@import 'modal-overlay';
@import 'helpers';
@import 'tippy';

@include box-sizing();

.shepherd-element {
  @if $use-drop-shadow {
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  }

  &.shepherd-has-title .shepherd-content header {
    background: $shepherd-header-background;
    padding: 1em;
  }

  .shepherd-content {
    background: $shepherd-text-background;
    font-size: inherit;
    padding: 0;

    header {
      @include pie-clearfix;

      align-items: center;
      border-top-left-radius: $shepherd-element-border-radius;
      border-top-right-radius: $shepherd-element-border-radius;
      display: flex;
      justify-content: center;
      line-height: 2em;
      padding: 0.75em 0.75em 0;

      .shepherd-title,
      .shepherd-cancel-link {
        font-weight: normal;
        margin: 0;
        padding: 0;
        position: relative;
        vertical-align: middle;
      }

      .shepherd-title {
        color: map_get($shepherd-theme-text-colors, header);
        display: flex;
        flex: 1 0 auto;
        font-size: 1.1em;
      }

      .shepherd-cancel-link {
        color: lighten(map_get($shepherd-theme-text-colors, header), 70);
        font-size: 2em;
        margin-left: auto;
        text-decoration: none;
        transition: color 0.5s ease;

        &:before {
          content: '\00d7';
        }

        &:hover {
          color: map_get($shepherd-theme-text-colors, header);
        }
      }
    }

    .shepherd-text {
      color: map_get($shepherd-theme-text-colors, text);
      line-height: $shepherd-text-line-height;
      padding: 0.75em;

      a,
      a:visited,
      a:active {
        border-bottom: 1px dotted;
        border-bottom-color: map_get($shepherd-theme-text-colors, text);
        color: map_get($shepherd-theme-text-colors, text);
        text-decoration: none;

        &:hover {
          border-bottom-style: solid;
        }
      }

      p {
        margin-top: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    footer {
      border-bottom-left-radius: $shepherd-element-border-radius;
      border-bottom-right-radius: $shepherd-element-border-radius;
      padding: 0 0.75em 0.75em;

      .shepherd-buttons {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;

        li {
          display: inline;
          margin: 0 0.5em 0 0;

          &:last-child {
            margin-right: 0;
          }

          .shepherd-button {
            @include shepherd-button;
          }
        }
      }
    }
  }
}
