#shepherdModalOverlayContainer {
  -ms-filter: "progid:dximagetransform.microsoft.gradient.alpha(Opacity=50)";
  filter: alpha(opacity=50);
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-out;
  width: 100vw;
  z-index: 9997;

  #shepherdModalMask,
  #shepherdModalMaskRect {
    height: 100vh;
    width: 100vw;
  }
}

.#{$namespace-prefix}-modal.#{$namespace-prefix}-enabled {
  position: relative;
  z-index: 9998;
}

/**
 * Block clicks except for those that would occur
 * on Shepherd elements or on the target element.
*/
.#{$namespace-prefix}-active {
  &.#{$namespace-prefix}-modal-is-visible {
    :not(.#{$namespace-prefix}-target) {
      pointer-events: none;
    }

    .#{$namespace-prefix}-button,
    .#{$namespace-prefix}-cancel-link,
    .#{$namespace-prefix}-element,
    .#{$namespace-prefix}-target {
      pointer-events: auto;

      * {
        pointer-events: auto;
      }
    }
  }
}
