#shepherdModalOverlayContainer {
  -ms-filter: "progid:dximagetransform.microsoft.gradient.alpha(Opacity=50)";
  filter: alpha(opacity=50);
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-out;
  width: 100vw;
  z-index: 9997;

  #shepherdModalMask,
  #shepherdModalMaskRect {
    height: 100vh;
    width: 100vw;
  }
}

.shepherd-modal.shepherd-enabled {
  position: relative;
  z-index: 9998;
}

/**
 * Block clicks except for those that would occur
 * on Shepherd elements or on the target element.
*/
.shepherd-active {
  &.shepherd-modal-is-visible {
    :not(.shepherd-target) {
      pointer-events: none;
    }

    .shepherd-button,
    .shepherd-cancel-link,
    .shepherd-element,
    .shepherd-target {
      pointer-events: auto;

      * {
        pointer-events: auto;
      }
    }
  }
}
