@import "./mixins/start-tour-button";

.shepherd-element {
  border-radius: 0;
  font-size: 1em;
  max-width: $max-width;
  z-index: $z-index;

  .shepherd-content {
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.17);

    header {
      border-radius: 0;
    }

    footer {
      .shepherd-buttons {
        li {
          .shepherd-button {
            @include shepherd-button;

            border-radius: 0;
          }
        }
      }
    }
  }
}

.shepherd-start-tour-button.shepherd-element {
  @include start-tour-button;
}
