@import 'functions';

// Theme colors
$shepherd-theme-primary: #3288e6 !default;
$shepherd-theme-secondary: desaturate(lighten($shepherd-theme-primary, 40), 70) !default;
$shepherd-text-background: #ffffff !default;
$shepherd-header-background: darken($shepherd-text-background, 10) !default;

$shepherd-theme-text-colors: (
  primary: rgba(set-text-color($shepherd-theme-primary), 0.75),
  secondary: rgba(set-text-color($shepherd-theme-secondary), 0.75),
  header: rgba(set-text-color($shepherd-header-background), 0.75),
  text: rgba(set-text-color($shepherd-text-background), 0.75)
) !default;

// Theme options
$shepherd-element-width: 400px !default;
$shepherd-element-border-radius: 5px !default;
$shepherd-element-max-height: 100% !default;
$shepherd-element-max-width: 100% !default;
$shepherd-element-z-index: 9999 !default;
$shepherd-text-line-height: 1.3em !default;
$shepherd-button-border-radius: 3px !default;
$use-drop-shadow: true !default;

// Popper options
$arrow-pointer-events: none !default;
$arrow-size: 16px !default;
