@import "./variables";

$background-color: #f6f6f6;
$color: #444444;
$header-background-color: #e6e6e6;
$use-drop-shadow: false;

@import "./base";
@import "./rounded";
@import "./mixins/start-tour-button";

.shepherd-element {
  font-size: 1em;
  max-width: $max-width;
  z-index: $z-index;

  .shepherd-content {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.17);
  }
}

.shepherd-start-tour-button.shepherd-element {
  @include start-tour-button;

  border-radius: 3px;
}
