$shepherd-header-background: #303030 !default;
$shepherd-text-background: #232323 !default;
$shepherd-element-border-radius: 0 !default;
$shepherd-button-border-radius: 0 !default;
$use-drop-shadow: true !default;

@import 'base';
