$shepherd-header-background: #e6e6e6 !default;
$shepherd-text-background: #f6f6f6 !default;
$shepherd-element-border-radius: 0 !default;
$shepherd-button-border-radius: 0 !default;
$use-drop-shadow: true !default;

@import 'base';
