---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-white font-body text-navy">
    <Header title={SITE_TITLE} />
    <main>
      <div class="bg-white flex justify-center py-12 sm:py-20">
        <div class="max-w-6xl px-6 lg:px-8">
          <h2
            class="mt-2 text-4xl font-bold font-heading tracking-tight text-gray-900 uppercase sm:text-5xl"
          >
            Choose the right next step for you
          </h2>

          <p class="font-body mt-6 text-xl text-left leading-8 text-gray-600">
            Shepherd remains open-source software, and this commitment is
            unwavering. Our library serves as a foundation for countless solo
            developers and esteemed organizations, empowering them to create
            their applications. With a thriving community of users, the ongoing
            enhancement and upkeep of the library, documentation, and community
            engagement demand significant resources. Your support is essential
            for us to continue this mission. So, if you want to use Shepherd.js
            in your commercial app, website or plugin, you would need to obtain
            a commercial license.
          </p>

          <div class="my-20 flow-root">
            <div
              class="isolate -mt-16 grid grid-cols-1 gap-y-16 divide-y divide-gray-100 sm:mx-auto lg:-mx-8 lg:mt-0 lg:grid-cols-3 lg:divide-x lg:divide-y-0 xl:-mx-4"
            >
              <div class="pt-16 lg:px-8 lg:pt-0 xl:px-14">
                <h3 class="font-heading text-xl uppercase w-full">
                  Business Plan
                </h3>
                <p class="mt-6 flex items-baseline gap-x-1">
                  <span class="text-5xl font-bold tracking-tight text-gray-900"
                    >$50</span
                  >
                  <span class="text-sm font-semibold leading-6 text-gray-600"
                    >/lifetime</span
                  >
                </p>
                <div class="bg-navy font-heading inline-block mb-4 w-56">
                  <button
                    class="button bg-white border-2 border-navy p-6 text-navy whitespace-nowrap w-full"
                    aria-describedby="purchase business license"
                    data-pricing-id="4d72f490-47e5-4b83-b6e7-5fde0d0ee009"
                    type="button"
                  >
                    Purchase
                  </button>
                </div>
                <p class="mt-10 text-m font-semibold leading-6 text-gray-900">
                  Everything necessary to get started.
                </p>
                <ul
                  role="list"
                  class="mt-6 space-y-3 text-l leading-6 text-gray-600"
                >
                  <li class="flex gap-x-3">
                    <svg
                      class="h-5 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Up to 5 projects
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-5 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                    1 month commercial support
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-5 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Regular product updates
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-5 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Lifetime license
                  </li>
                </ul>
              </div>
              <div class="pt-16 lg:px-8 lg:pt-0 xl:px-14">
                <h3 class="font-heading text-xl uppercase w-full">
                  Enterprise Plan
                </h3>
                <p class="mt-6 flex items-baseline gap-x-1">
                  <span class="text-5xl font-bold tracking-tight text-gray-900"
                    >$300</span
                  >
                  <span class="text-sm font-semibold leading-6 text-gray-600"
                    >/lifetime</span
                  >
                </p>
                <div class="bg-navy font-heading inline-block mb-4 w-56">
                  <button
                    class="button bg-white border-2 border-navy p-6 text-navy whitespace-nowrap w-full"
                    aria-describedby="purchase enterprise license"
                    data-pricing-id="c27eb1ec-bc59-446e-8aab-6adf920f9962"
                    type="button"
                  >
                    Purchase
                  </button>
                </div>
                <p class="mt-10 text-m font-semibold leading-6 text-gray-900">
                  Partner to use on all your products.
                </p>
                <ul
                  role="list"
                  class="mt-6 space-y-3 text-l leading-6 text-gray-600"
                >
                  <li class="flex gap-x-3">
                    <svg
                      class="h-5 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Unlimited projects
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-5 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                    6 months support
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-5 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Prioritized Github Issues
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-5 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Lifetime license
                  </li>
                </ul>
              </div>

              <div class="pt-16 lg:px-8 lg:pt-0 xl:px-14">
                <h3 class="font-heading text-xl uppercase w-full">
                  Shepherd Consulting
                </h3>
                <p class="mt-6 mb-4 flex items-baseline gap-x-1">
                  <span class="text-4xl font-bold tracking-tight text-gray-900"
                    >Request a Quote</span
                  >
                </p>

                <div class="bg-navy font-heading inline-block mb-4 w-56">
                  <a
                    class="button bg-white border-2 text-center border-navy p-6 text-navy whitespace-nowrap w-full"
                    href="mailto:ahoy@shipshape.io"
                    aria-describedby="tier-growth"
                  >
                    Contact Us
                  </a>
                </div>
                <p class="mt-10 text-m font-semibold leading-6 text-gray-900">
                  Let us help you get the most out of Shepherd
                </p>
                <ul
                  role="list"
                  class="mt-6 space-y-3 text-m leading-6 text-gray-600"
                >
                  <li class="flex gap-x-3">
                    <svg
                      class="h-5 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                    White-Glove Services
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-5 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                    On-Boarding & Training
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-5 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Advanced analytics
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-5 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Support via Professional Services
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="mb-8 mt-4 relative lg:mt-20">
            <div class="">
              <div
                class="bg-grey-light px-6 py-8 sm:p-10 lg:flex lg:items-center"
              >
                <div class="flex-1">
                  <div>
                    <h3
                      class="inline-flex px-4 py-1 pt-2 text-sm font-semibold tracking-wide uppercase bg-white text-gray-800"
                    >
                      Free plan
                    </h3>
                  </div><div class="mt-4 text-lg text-gray-600">
                    Shepherd.js is free for open-source, personal and
                    non-commercial sites. If your project is non-commercial, you
                    can use Shepherd.js for free.
                  </div>
                </div>
                <div class="mt-6 lg:mt-2 lg:ml-10 lg:flex-shrink-0">
                  <div class="bg-navy font-heading inline-block mb-4 w-56">
                    <a
                      class="button bg-white border-2 text-center border-navy p-4 text-navy whitespace-nowrap w-full"
                      href="https://github.com/shipshapecode/shepherd"
                      aria-describedby="link to github"
                    >
                      Enjoy Free Software!
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>

<script>
  import { actions } from 'astro:actions';
  import { navigate } from 'astro:transitions/client';
  document.addEventListener('astro:page-load', () => {
    const buttons = document.querySelectorAll('[data-pricing-id]');

    buttons.forEach((button) => {
      button.addEventListener('click', async (event) => {
        if (!(event.target instanceof HTMLButtonElement)) {
          return;
        }
        const btn = event.target;
        const originalText = btn.innerHTML;
        btn.disabled = true;
        btn.innerHTML = `
        <span class="inline-flex items-center">
          <span class="mr-2">Loading</span>
          <span class="flex space-x-1">
            <span class="w-2 h-2 bg-navy-light rounded-full animate-ellipsis1"></span>
            <span class="w-2 h-2 bg-navy-light rounded-full animate-ellipsis2"></span>
            <span class="w-2 h-2 bg-navy-light rounded-full animate-ellipsis3"></span>
          </span>
        </span>
      `;

        const productPriceId = event.target?.dataset.pricingId;

        if (!productPriceId) {
          console.warn('No pricing ID found for this button');
          return;
        }

        try {
          const { data, error } = await actions.checkout({
            productPriceId
          });

          console.log('Checkout result:', data, error, productPriceId);

          if (!error) {
            navigate(data);
          } else {
            console.error('Checkout error:', error);
          }
        } catch (error) {
          console.error('An error occurred during checkout:', error);
        } finally {
          btn.disabled = false;
          btn.innerHTML = originalText;
        }
      });
    });
  });
</script>
