---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-white font-body p-4 text-navy">
    <Header title={SITE_TITLE} />
    <main>
      <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-4xl sm:text-center">
            <h2 class="text-base font-semibold leading-7 text-indigo-600">
              Pricing
            </h2>
            <p
              class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
            >
              Choose the right plan for&nbsp;you
            </p>
          </div>
          <p
            class="font-body mx-auto mt-6 max-w-2xl text-xl leading-8 text-gray-600 sm:text-center"
          >
            Shepherd is MIT-licensed and open-source. However, if you want to
            use Shepherd in your commercial app, website or plugin, you would
            need to obtain a commercial license.
          </p>
          <div class="mt-20 flow-root">
            <div
              class="isolate -mt-16 grid grid-cols-3 gap-y-16 divide-y divide-gray-100 sm:mx-auto lg:-mx-8 lg:mt-0 lg:max-w-none lg:grid-cols-3 lg:divide-x lg:divide-y-0 xl:-mx-4"
            >
              <div class="pt-16 lg:px-8 lg:pt-0 xl:px-14">
                <h3
                  id="tier-open"
                  class="text-base font-semibold leading-7 text-gray-900"
                >
                  Open Source
                </h3>
                <p class="mt-6 flex items-baseline gap-x-1">
                  <span class="text-5xl font-bold tracking-tight text-gray-900"
                    >$0</span
                  >
                  <span class="text-sm font-semibold leading-6 text-gray-600"
                    >/month</span
                  >
                </p>
                <!-- <p class="mt-3 text-sm leading-6 text-gray-500">
                  $12 per month if paid annually
                </p> -->
                <div class="bg-navy inline-block mb-4 w-56">
                  <a
                    class="button bg-white border-2 border-navy p-6 text-navy whitespace-nowrap w-full"
                    href=""
                    aria-describedby="tier-open"
                  >
                    Enjoy Free Software!
                  </a>
                </div>
                <p class="mt-10 text-sm font-semibold leading-6 text-gray-900">
                  Everything necessary to get started.
                </p>
                <ul
                  role="list"
                  class="mt-6 space-y-3 text-sm leading-6 text-gray-600"
                >
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                     User Onboarding
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                     Basic JS Library
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                     REST API
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                     Support via Community & Docs
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                     Self-Hosted
                  </li>
                </ul>
              </div>
              <div class="pt-16 lg:px-8 lg:pt-0 xl:px-14">
                <h3
                  id="tier-essential"
                  class="text-base font-semibold leading-7 text-gray-900"
                >
                  Shepherd Pro (Enterprise License)
                </h3>
                <p class="mt-6 flex items-baseline gap-x-1">
                  <span class="text-5xl font-bold tracking-tight text-gray-900"
                    >$15</span
                  >
                  <span class="text-sm font-semibold leading-6 text-gray-600"
                    >/month</span
                  >
                </p>
                <!-- <p class="mt-3 text-sm leading-6 text-gray-500">
                  $24 per month if paid annually
                </p> -->
                <div class="bg-navy inline-block mb-4 w-56">
                  <a
                    class="button bg-white border-2 border-navy p-6 text-navy whitespace-nowrap w-full"
                    href=""
                    aria-describedby="tier-esssential"
                  >
                    Buy plan
                  </a>
                </div>
                <p class="mt-10 text-sm font-semibold leading-6 text-gray-900">
                  Everything in Open, plus professional tools for growing your
                  business.
                </p>
                <ul
                  role="list"
                  class="mt-6 space-y-3 text-sm leading-6 text-gray-600"
                >
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <ul>
                      <li>Feature Adoption</li>
                      <li>Trial Conversions</li>
                      <li>Butter Bar</li>
                      <li>Downtime Notifications</li>
                    </ul>
                  </li>

                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <ul>
                      <li>React SDK (Coming Soon!)</li>
                      <li>SaaS (Coming Soon!)</li>
                      <li>User Profiles (Coming Soon!)</li>
                      <li>Analytics (Coming Soon!)</li>
                      <li>SAML, OAuth, LDAP (Coming Soon!)</li>
                      <li>Integrations (Coming Soon!)</li>
                    </ul>
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                     24-hour support response time
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                     Support via Email & Docs
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                     Self-Hosted or SaaS
                  </li>
                </ul>
              </div>
              <div class="pt-16 lg:px-8 lg:pt-0 xl:px-14">
                <h3
                  id="tier-growth"
                  class="text-base font-semibold leading-7 text-gray-900"
                >
                  Shepherd Pro-Serve (We build it for you!)
                </h3>
                <p class="mt-6 flex items-baseline gap-x-1">
                  <span class="text-5xl font-bold tracking-tight text-gray-900"
                    >Contact Us</span
                  >
                </p>
                <!-- <p class="mt-3 text-sm leading-6 text-gray-500">
                  $48 per month if paid annually
                </p>
                <div class="bg-navy inline-block mb-4 w-56">
                  <a
                    class="button bg-white border-2 border-navy p-6 text-navy whitespace-nowrap w-full"
                    href=""
                    aria-describedby="tier-growth"
                  >
                    Buy plan
                  </a>
                </div> -->
                <p class="mt-10 text-sm font-semibold leading-6 text-gray-900">
                  Everything in Pro, plus collaboration tools and deeper
                  insights.
                </p>
                <ul
                  role="list"
                  class="mt-6 space-y-3 text-sm leading-6 text-gray-600"
                >
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                     White-Glove Services
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                     Advanced analytics
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                     Support via Professional Services
                  </li>
                  <li class="flex gap-x-3">
                    <svg
                      class="h-6 w-5 flex-none text-indigo-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path>
                    </svg>
                     Self-Hosted, SaaS or Private Cloud
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
