---
import type { CollectionEntry } from 'astro:content';
import Base from '@layouts/Base.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE } from '../consts';

type Props = CollectionEntry<'blog'>['data'];

const { title, description } = Astro.props;
---

<Base overrideDescription={description} overrideTitle={title}>
  <Header title={SITE_TITLE} />

  <main>
    <article class="max-w-screen-md mb-20 mx-auto">
      <slot />
    </article>
    <Footer />
  </main>
</Base>
