---
import Base from './Base.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GithubButton from '../components/GithubButton.astro';
import { SITE_TITLE } from '../consts';

const { isHome } = Astro.props;
---

<Base>
  <Header title={SITE_TITLE} isHome={isHome} />
  <main>
    <slot name='hero-heading' />

    <div class='flex justify-center mb-20 w-full'>
      <div class='max-w-3xl text-center w-full'>
        <slot name='content' />
        <div class='hero-followup font-heading mb-12 mt-12 lg:mb-24 lg:mt-24'>
          <div class='bg-navy inline-block mb-4 w-56 lg:mr-4'>
            <GithubButton />
          </div>

          <div class='bg-navy inline-block mb-4 w-56'>
            <a
              class='button bg-white border-2 border-navy p-6 text-navy whitespace-nowrap w-full'
              href='https://docs.shepherdjs.dev'
            >
              View Docs
            </a>
          </div>
        </div>

        <div class='mb-12 mt-8'>
          <h3 class='font-heading text-2xl uppercase'>
            Brands that use Shepherd
          </h3>

          <div class='flex flex-wrap justify-center w-full'>
            <div
              class='flex items-center justify-center m-4 h-32 relative w-32 md:h-48 md:w-48 lg:h-56 lg:w-56'
            >
              <div
                class='bg-white border-4 border-navy flex items-center justify-center h-full p-6 w-full z-10 md:p-12'
              >
                <img
                  class='h-auto w-full'
                  src='/users/ally.svg'
                  alt=''
                  role='presentation'
                />
              </div>

              <div class='absolute bg-navy h-full -ml-3 mt-3 top-0 w-full z-0'>
              </div>
            </div>

            <div
              class='flex items-center justify-center m-4 h-32 relative w-32 md:h-48 md:w-48 lg:h-56 lg:w-56'
            >
              <div
                class='bg-white border-4 border-navy flex items-center justify-center h-full p-4 w-full z-10 md:p-8'
              >
                <a href='https://codepen.io/pen/?welcome=true' target='_blank'>
                  <img
                    class='h-auto w-full'
                    src='/users/codepen.svg'
                    alt=''
                    role='presentation'
                  />
                </a>
              </div>

              <div class='absolute bg-navy h-full -ml-3 mt-3 top-0 w-full z-0'>
              </div>
            </div>

            <div
              class='flex items-center justify-center m-4 h-32 relative w-32 md:h-48 md:w-48 lg:h-56 lg:w-56'
            >
              <div
                class='bg-white border-4 border-navy flex items-center justify-center h-full p-4 w-full z-10 md:p-8'
              >
                <img
                  class='h-auto w-full'
                  src='/users/google.svg'
                  alt=''
                  role='presentation'
                />
                <!-- <img
                  class="h-auto w-full"
                  src="/users/bonsai.png"
                  alt=""
                  role="presentation"
                /> -->
              </div>

              <div class='absolute bg-navy h-full -ml-3 mt-3 top-0 w-full z-0'>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Base>
